
.vs/MemeOn/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
Meme On/.vs/Meme On/v14/.suo
Meme On/.vs/Meme On/v15/.suo
Meme On/.vs/Meme On/v15/Server/sqlite3/db.lock
Meme On/.vs/Meme On/v15/Server/sqlite3/storage.ide
Meme On/.vs/Meme On/v15/Server/sqlite3/storage.ide-shm
Meme On/.vs/Meme On/v15/Server/sqlite3/storage.ide-wal
Meme On/obj/
Meme On/Library/
Meme On/Temp/